.ul {
    padding: 0 0 5rem 0.5rem;
}

.li {
    list-style: none;
    float: left;
    margin: 0.2rem;
    text-align: center;
}

.li button {
    color: #b8a630;
    background-color: #0a0f53;
    width: 2.1rem;
    padding: 0.5rem 0.7rem;
    border-radius: 25%;
    border: 1px solid #b8a630;
    text-align: center;
}
